[submodule "lib/org-mode"]
	path = lib/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "lib/eproject"]
	path = lib/eproject
	url = git://github.com/jrockway/eproject.git
[submodule "lib/egg"]
	path = lib/egg
	url = git://github.com/bogolisk/egg.git
[submodule "lib/haskell-mode"]
	path = lib/haskell-mode
	url = git://github.com/jwiegley/haskell-mode.git
[submodule "lib/remember"]
	path = lib/remember
	url = git://repo.or.cz/remember-el.git
[submodule "lib/magit"]
	path = lib/magit
	url = http://github.com/philjackson/magit.git
[submodule "lib/cucumber"]
	path = lib/cucumber
	url = http://github.com/michaelklishin/cucumber.el.git

[submodule "lib/mo-git-blame"]
	path = lib/mo-git-blame
	url = git://git.bunkus.org/mo-git-blame.git
[submodule "lib/haml-mode"]
	path = lib/haml-mode
	url = git://github.com/nex3/haml-mode.git
