[submodule "lib/org-mode"]
	path = lib/org-mode
	url = http://repo.or.cz/r/org-mode.git
[submodule "lib/eproject"]
	path = lib/eproject
	url = http://github.com/jrockway/eproject.git
[submodule "lib/egg"]
	path = lib/egg
	url = http://github.com/bogolisk/egg.git
[submodule "lib/haskell-mode"]
	path = lib/haskell-mode
	url = http://github.com/jwiegley/haskell-mode.git
[submodule "lib/remember"]
	path = lib/remember
	url = http://repo.or.cz/r/remember-el.git
